@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #181818;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #C8C6C6 ;
}

.home-content p,
.post-content h5
{
    text-indent: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.center-form{
    margin: auto;
    width: 50%;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.avatar-img
{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}